services:
  postgres:
    image: postgres:18.1
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    networks:
      - cloud-storage-network
    volumes:
      - postgres-data:/var/lib/postgresql

  redis:
    image: redis:8.4.0
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - cloud-storage-network
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]

networks:
  cloud-storage-network:
    driver: bridge

volumes:
  postgres-data:
  redis-data: